# 크롤링

In [1]:
import pandas as pd

In [4]:
pd.read_html("https://finance.naver.com/sise/sise_market_sum.naver")[1]    #url로 html 읽고, 인덱스로 원하는 부분 추출 but 인코딩 필요

,N,Á¾¸ñ¸í,ÇöÀç°¡,ÀüÀÏºñ,µî¶ô·ü,¾×¸é°¡,½Ã°¡ÃÑ¾×,»óÀåÁÖ½Ä¼ö,¿Ü±¹ÀÎºñÀ²,°Å·¡·®,PER,ROE,Åä·Ð½Ç
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,»ï¼ºÀüÀÚ,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07,NaN
2,2.0,LG¿¡³ÊÁö¼Ö·ç¼Ç,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75,NaN
3,3.0,SKÇÏÀÌ´Ð½º,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56,NaN
4,4.0,»ï¼º¹ÙÀÌ¿À·ÎÁ÷½º,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,SK¹ÙÀÌ¿ÀÆÊ,85700.0,1300.0,-1.49%,500.0,67114.0,78313.0,7.57,38248.0,-79.43,-36.66,NaN
77,50.0,·Ôµ¥ÄÉ¹ÌÄ®,154900.0,3300.0,+2.18%,5000.0,66259.0,42775.0,25.23,118312.0,-115.86,0.43,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#인코딩 방법1. 

url = "https://finance.naver.com/sise/sise_market_sum.naver"
df = pd.read_html(url, encoding='euc-kr')[1]  #html 읽으면서 뒤에 encoding='euc-kr' 추가 

df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07,NaN
2,2.0,LG에너지솔루션,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75,NaN
3,3.0,SK하이닉스,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56,NaN
4,4.0,삼성바이오로직스,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,SK바이오팜,85700.0,1300.0,-1.49%,500.0,67114.0,78313.0,7.57,38248.0,-79.43,-36.66,NaN
77,50.0,롯데케미칼,154900.0,3300.0,+2.18%,5000.0,66259.0,42775.0,25.23,118312.0,-115.86,0.43,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df1=df.drop(0,axis=0)

In [64]:
df1

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07,NaN
2,2.0,LG에너지솔루션,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75,NaN
3,3.0,SK하이닉스,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56,NaN
4,4.0,삼성바이오로직스,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42,NaN
5,5.0,삼성전자우,57500.0,500.0,-0.86%,100.0,473160.0,822887.0,72.69,765633.0,12.22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,SK바이오팜,85700.0,1300.0,-1.49%,500.0,67114.0,78313.0,7.57,38248.0,-79.43,-36.66,NaN
77,50.0,롯데케미칼,154900.0,3300.0,+2.18%,5000.0,66259.0,42775.0,25.23,118312.0,-115.86,0.43,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df2=df1.drop(df1.index[77:81])

In [69]:
df2

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07,NaN
2,2.0,LG에너지솔루션,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75,NaN
3,3.0,SK하이닉스,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56,NaN
4,4.0,삼성바이오로직스,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42,NaN
5,5.0,삼성전자우,57500.0,500.0,-0.86%,100.0,473160.0,822887.0,72.69,765633.0,12.22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,46.0,TIGER CD금리투자KIS(합성),53345.0,10.0,+0.02%,0.0,70662.0,132462.0,0.02,119242.0,NaN,NaN,NaN
74,47.0,HD한국조선해양,98200.0,900.0,-0.91%,5000.0,69499.0,70773.0,25.06,92985.0,168.15,-2.22,NaN
75,48.0,SK스퀘어,48600.0,750.0,-1.52%,100.0,67545.0,138981.0,45.29,219972.0,-3.65,1.55,NaN
76,49.0,SK바이오팜,85700.0,1300.0,-1.49%,500.0,67114.0,78313.0,7.57,38248.0,-79.43,-36.66,NaN
77,50.0,롯데케미칼,154900.0,3300.0,+2.18%,5000.0,66259.0,42775.0,25.23,118312.0,-115.86,0.43,NaN

In [70]:
df2.drop("토론실",axis=1)

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
1,1.0,삼성전자,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07
2,2.0,LG에너지솔루션,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75
3,3.0,SK하이닉스,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56
4,4.0,삼성바이오로직스,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42
5,5.0,삼성전자우,57500.0,500.0,-0.86%,100.0,473160.0,822887.0,72.69,765633.0,12.22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
73,46.0,TIGER CD금리투자KIS(합성),53345.0,10.0,+0.02%,0.0,70662.0,132462.0,0.02,119242.0,NaN,NaN
74,47.0,HD한국조선해양,98200.0,900.0,-0.91%,5000.0,69499.0,70773.0,25.06,92985.0,168.15,-2.22
75,48.0,SK스퀘어,48600.0,750.0,-1.52%,100.0,67545.0,138981.0,45.29,219972.0,-3.65,1.55
76,49.0,SK바이오팜,85700.0,1300.0,-1.49%,500.0,67114.0,78313.0,7.57,38248.0,-79.43,-36.66
77,50.0,롯데케미칼,154900.0,3300.0,+2.18%,5000.0,66259.0,42775.0,25.23,118312.0,-115.86,0.43

In [89]:
##여러 페이지 합치기## for문 + concat

url="https://finance.naver.com/sise/sise_market_sum.naver?&page="
pages=range(1,5)

df= pd.DataFrame([])
for i in pages:
    df1=pd.read_html(url+str(i), encoding='euc-kr')[1]
    df1["page"]=i
    df=pd.concat([df, df1])

df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실,page
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1.0,삼성전자,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07,NaN,1
2,2.0,LG에너지솔루션,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75,NaN,1
3,3.0,SK하이닉스,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56,NaN,1
4,4.0,삼성바이오로직스,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,199.0,두산퓨얼셀,18880.0,580.0,-2.98%,100.0,12365.0,65494.0,12.22,464678.0,186.93,0.74,NaN,4
77,200.0,KODEX 단기채권PLUS,108385.0,30.0,+0.03%,0.0,12244.0,11297.0,0.01,6635.0,NaN,NaN,NaN,4
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [92]:
df = df.drop(df[df['N'].isna()].index)  ## N열의 NAN 값인 것을 불리안으로 받고, 그것이 TRUE가 되는 인덱스를 드랍해줘

In [94]:
df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실,page
1,1.0,삼성전자,72500.0,300.0,-0.41%,100.0,4328092.0,5969783.0,53.42,10845642.0,15.41,17.07,NaN,1
2,2.0,LG에너지솔루션,432000.0,10500.0,-2.37%,500.0,1010880.0,234000.0,4.54,222094.0,73.28,5.75,NaN,1
3,3.0,SK하이닉스,129900.0,2400.0,-1.81%,5000.0,945675.0,728002.0,52.66,2424743.0,-8.24,3.56,NaN,1
4,4.0,삼성바이오로직스,723000.0,9000.0,-1.23%,2500.0,514588.0,71174.0,10.18,27225.0,62.32,11.42,NaN,1
5,5.0,삼성전자우,57500.0,500.0,-0.86%,100.0,473160.0,822887.0,72.69,765633.0,12.22,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,196.0,한국앤컴퍼니,13330.0,1170.0,-8.07%,500.0,12655.0,94935.0,10.11,786677.0,13.62,4.37,NaN,4
74,197.0,KBSTAR 200,33510.0,175.0,-0.52%,0.0,12516.0,37350.0,0.01,481554.0,NaN,NaN,NaN,4
75,198.0,대웅제약,107400.0,600.0,-0.56%,2500.0,12444.0,11587.0,9.90,287079.0,24.25,7.17,NaN,4
76,199.0,두산퓨얼셀,18880.0,580.0,-2.98%,100.0,12365.0,65494.0,12.22,464678.0,186.93,0.74,NaN,4
77,200.0,KODEX 단기채권PLUS,108385.0,30.0,+0.03%,0.0,12244.0,11297.0,0.01,6635.0,NaN,NaN,NaN,4